@import "/About_us/About_us_query.css";
@import "/About_us/Global.css";



/*///header/// */
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 20px;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.header__logo {
    height: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Archivo', Helvetica, Arial, sans-serif;
}
#home a{
    color: var(--button_light);
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 1.6rem;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--main_orangetext);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--main_orangetext);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.buy_now {
    background-color: var(--button_light);
    color: #fff;
    padding: 8px 20px;
    font-size: 1.6rem;
    border-radius: 20px;
    border: none;
}
.menu a {
    /* margin: 0 1rem; */
    overflow: hidden;
    font-size: 1.6rem;
    text-decoration: none;
}





/* ///about_us */
.about_us {
    width: 100%;
    height: auto;
    padding: 80px 32px;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    /* display: none; */
}
.aboutus__image {
    height: 100%;
    width: 100%;
    margin-top: 16px;
    /* background-color: black; */
}
.aboutus_text__container {
    padding: 24px 10px;
    /* background-color: rgb(76, 73, 73); */
}
.aboutus__chip {
    display: flex;
    /* background-color: blue; */
}
.aboutus__chip span{
    background-color: var(--main_orangeback);
    color: var(--main_orangetext);
    font-size: var(--chiptext_size);
    font-weight: 600;
    line-height: 26px;
    padding: 2px 15px;
    border-radius: 30px;
}
.aboutus__title {
    color: var(--main_purple);
    font-size: 4.2rem;
    font-weight: 600;
    margin-top: 20px;
    /* background-color: aquamarine; */
}



/* ///main_text/// */
.main__container {
    /* background-color: pink; */
    padding: 10px 30px;
}
.text__title {
    color: var(--main_purple);
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 20px;
    /* background-color: aquamarine; */
}
.text__left {
    /* background-color: rgb(95, 130, 118); */
    padding: 5px;
}
.text__right {
    /* background-color: rgb(28, 39, 35); */
    padding: 25px 5px;
}
.text__left p{
    font-size: 1.3rem;
    margin-top: 15px;
    line-height: 19px;
}
#p1 {
    margin-top: 30px;
}
.text__right p{
    font-size: 1.3rem;
    margin-top: 15px;
    line-height: 19px;
}
.text__right li{
    font-size: 1.3rem;
    margin-top: 12px;
    color: #6d737a;
}
.text__right ul{
    list-style:none ;
    padding: 8px;
}

.seeall__buttons {
    margin-top: 24px;
    color: #fff;
    /* background-color: cyan; */
}
.seeall_btn {
    background-color: var(--button_dark);
    color: #fff;
    padding: 12px 24px;
    font-size: 1.4rem;
    border-radius: 20px;
    border: none;
}




/* ///data/// */
.data__container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    /* background-color: rgb(217, 64, 90); */
    /* display: none; */
}
.data__box {
    display: flex;
    flex-direction: column;
    background-color: var(--background_purple);
    width: 80%;
    padding: 10px 0;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.data__smallbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 10px;
    /* margin-top: 5px;
    margin-bottom: 5px;
    background-color: yellowgreen; */
}
.data__number {
    color: #fff ;
    font-size: 6rem;
    font-weight: 500;
}
.data__title {
    color: var(--main_orangetext);
    font-size: 1.8rem;
    font-weight: 500;
} 



/* ///How_we_work/// */
.work__container {
    background-image: url("/About_us/seo3-sectionbg7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
    padding: 220px 0;
    display: flex;
    justify-content: center;
}
.data__container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    /* background-color: rgb(217, 64, 90); */
    /* display: none; */
}
.work__box {
    display: flex;
    flex-direction: column;
    background-color: #41348E;
    width: 256px;
    padding: 70px;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.work__title {
    color: var(--main_orangetext);
    font-size: 3.2rem;
    font-weight: 600;
    padding-right :10px;
}
.work__description {
    font-size: 1.3rem;
    margin-top: 24px;
    color: #fff;
    line-height: 19px;
}
.work__icon {
    width: 60px;
    height: 60px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 50%;
}
.work__icon img {
    width: 60px;
    height: 60px;
}









/* ///Clients// */
.clients__container {
    /* background-color: pink; */
    padding: 20px 10px;
}
.clinets__title {
    color: var(--main_purple);
    font-size: var(--title_size);
    font-weight: 600;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}
.clinets__logo {
    padding: 20px 32px;
}
.small__container {
    /* background-color: #FCA80F; */
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.logo1 {
    /* background-color: black; */
    width: 50%;
}
.logo2 {
    /* background-color: dimgray; */
    width: 50%;
    margin-left: 40px;

}
.logo1 img {
    width: 100%;
}
.logo2 img {
    width: 100%;
}


/* ///footer/// */
.footer {
    background-image: url("/seo3-sectionbg6.jpg");
    width: 100%;
    height: auto;
}

.footer__bottom {
    height: 200px;
    width: 100%;
    padding: 300px 0;
}
.joinus__chip span {
    padding: 8px 15px;
    font-size: var(--chiptext_size);
    border-radius: 15px;
    font-weight: 600;
    color: var(--main_orangetext);
    background-color: rgba(252,168,15,.13);
}
.joinus__chip {
    display: flex;
    justify-content: center;
}
.footer__title {
    font-size: var(--title_size);
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}
.footer__email {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3px;
    padding: 10px 30px;
    box-shadow: none;
    outline: none;
}

.footer__email input{
    width: 100%;
    background-color: #3C2E85;
    box-shadow: none;
    outline: none;
} 
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: bisque; */
  align-items: center;
  padding-top: 20px;
}

#email {
  width: 280px;
  height: 32px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 5px 10px;
  color: var(--button_dark) ;
  background-color: #5047A0;
}
.signup__button {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    color: #fff;
    /* background-color: cyan; */
}

.signup__btn {
    background-color: var(--main_orangetext);
    color: #fff;
    padding: 10px 30px;
    font-size: 1.6rem;
    border-radius: 20px;
    border: none;
}

.info__container {
    display: flex;
    flex-direction: column;
    color: #Fff;
    padding:60px 30px;
    padding-bottom: 80px;
    background-color: var(--background_purple);
    height: auto;
    width: 100%;
}

.address {
    /* background-color: darkgoldenrod; */
    padding: 20px 0;
    padding-right: 60px;
}
.address p{
    font-size: 1.3rem;
}
.date {
    /* background-color: rgb(255, 196, 48); */
    text-align: center;
    padding: 50px 0;
}
.date div{
    font-size: 1.3rem;
}
.contact_info {
    /* background-color: #fad884; */
    text-align: right;
    padding: 10px 0;
}
.contact_info div{
    font-size: 1.3rem;
}

.social_media {
    display: flex;
    justify-content: space-around;
    padding: 20px 60px;
}

.social_media img {
    width: 20px;
    height: 20px;
}
.phone_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.phone_info img {
    margin-right: 5px;
}
.email_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.email_info img {
    margin-right: 5px;
}
